.layui-layout-admin .layui-header {
	background: #00CCFF;
}

.kit-theme .layui-layout-admin .layui-logo {
	background-color: #00CCFF
}

/*按钮颜色*/
.kit-theme .layui-layer-btn .layui-layer-btn0 {
    border-color: #dedede !important;
    background-color: #00CCFF !important;
    color: #00CCFF;
}